body {
    padding-bottom: 20px;
    background-color: #f5f5f1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #555;
}

a, button, select, input, p, li, label {
    font-family: 'Noto Serif', serif;
    font-weight: 700; 
    color: #555;
}

a {
    color: #60B3CD;
    cursor: pointer;
}

p {
    font-weight: 500;
} 

li {
    list-style: none;
}

ul {
    padding: 0;
}

.btn {
    color: white;
    font-weight: 700;
    background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
    border-color: #4fa9c6;
}

.btn:hover {
     border-color: #4fa9c6;
     color: white;
}

.btn:active {
    border-color: #4fa9c6;
    color: white;
    background: #98d0e0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    height: 80px;
    background-color: #ffffff;
    box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
    border-radius: 0px;
    margin-bottom: 0px;
}

#brand {
    font-family: 'Spicy Rice', cursive;
    font-size: 36px;
    color: #591655;
}

.brand {
    height: 50px;
    width: 50px;
    float: left;
    margin: 15px 5px 0 0;
}

.nav-link, .navbar a, .navbar li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #999;
}

.nav-link:hover, .navbar a:hover, .navbar li a:hover {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #4fa9c6;
    background-color: transparent;
}

.nav-item .glyphicon {
    display: block;
    width: 30px;
    margin-left: 50px;
}

.head-wrap {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

.navbar a, .navbar li a {
    height: 80px;
    vertical-align: middle;
    line-height: 50px;
}

.body-content {
    float: none;
}

/******SHOP PAGE******/

.row {
    margin-top: 30px;
}

.searchbar {
    margin: 0;
    display: inline-block;
    border-radius: 3px 0 0 3px;
}

.search-button {
    margin: 0 0 0 -5px;
    width: 75px;
    border-radius: 0 3px 3px 0;
}

.search-title {
    width: 225px;
}

.searcbar-wrap {
    margin-bottom: 30px;
    margin-top: 30px;
}

.item-block {
    background-color: white;
    height: 310px;
    width: 235px;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #ccc;
    padding: 0px;
    display: inline-block; 
}

.item-block:not(:last-child) {
    margin-right: 20px;
}

.album-art {
    background-color: #D1E7F4;
    width: 228px;
    height: 228px;
    border: 5px solid white;
}

.title {
    margin: 0 0 0 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.artist {
    color: #999;
    margin: 0;
    font-size: 12px;
    margin: 0 0 0 10px;
}

.bone-image {
    height: 18px;
    width: 20px;
    margin: 0 0 0 10px;
    font-size: 16px;
}

.price {
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
    font-size: 18px;
    color: #99D9EA;
}

/*******DETAILS PAGE*******/

.seller-info-wrap {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
}

.related-wrapper {
    float: right;
}

.related-albums {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: white;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 1px 5px #ccc;
}
.counter {
    float: right;
}

.related-albums h4 {
    text-align: center;
    color: #4fa9c6;
}

.related-cover {
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}

.logo {
    height: 50px;
    width: 50px;
    display: block;
}

.logo-wrap {
    border: 3px solid black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    background-color: rgb(79, 169, 198);
}

.username {
    display: inline-block;
    margin: 25px 0 0 10px;
    font-family: 'PT Sans', sans-serif;
}

.details-content-wrap {
    background-color: white;
    box-shadow: 1px 1px 1px #ccc;
    padding-bottom: 50px;
}

.detail-album-title {
    font-family: 'Spicy Rice';
    color: #f5f5f1;
}

.pic-header {
    text-align: center;
    background-color: #4fa9c6;
    border-radius: 2px;
    width: 550px;
}

.pic-header h3 {
    padding: 20px;
}

.details-cover-art {
    border: 1px solid #ccc;
    height: 550px;
    width: 550px;
    display: block;
}

.details {
    margin-top: 20px;
    border: 10px solid #591655;
    border-radius: 2px;
    width: 400px;
    padding: 12px;
}

.detail-box-title {
    font-size: 32px;
}

.detail-box-artist {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#condition-header {
    clear: left;
    margin-left: 10px;
}

.woofie-wrap {
    padding: 0px;
}

.details p {
    margin-left: 10px;
}

.description {
    margin-left: 10px;
}

.woofie-wrap > .bone-image {
    width: 32px;
    height: 24px;
}

.details-woofie {
    display: inline-block;
    font-size: 32px;
    margin-top: 0px;
}

.detail {
    color: #999;
    display: block;
    font-size: 20px;
    margin-top: 8px;
}

.modal-cover-art {
    height: 100px;
    display: block;
    margin: auto;
}

.modal-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}

.modal-body p {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

.sharer-username {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin-top: 3px;
}

.sharer-details p {
    text-align: center;
    font-weight: 700;
    margin: 2px 0 0 2px;
}

/******DASHBOARD******/

.my-albums {
    height: 100px;
    margin-bottom: 15px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px #ccc;
}

.shared-container {
    max-height: 600px;
    overflow: scroll;
}

.shared-container::-webkit-scrollbar {
    width: 0 !important;
}

.sold {
    color: tomato;
}

.my-logo {
   width: 100px;
   height: 100px;
   display: block;
   margin: auto;
   margin-top: 10px;
}

.my-logo-wrap {
    height: 150px;
    width: 150px;
    background-color: #059165;
    margin-top: 20px;
}

.profile-container h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.profile-container p {
    margin: auto;
    font-weight: 700;
}

.my-details-wrap {
    margin: auto;
    float: none;
}

.hint {
    font-size: 10px;
}

.hint a {
    color: #60B3CD;
}

#sharing, #grabbed {
    font-family: 'PT Sans', sans-serif;
}

.bought-title {
    margin: 0;
}

.my-list {
    padding: 5px;
    background-color: white;
    text-shadow: 2px
}

.my-details-wrap li a {
    display: block; 
}

.sold-item:before {
    content: "!";
    color: tomato;
    font-weight: 700;
    font-size: 24px;
}

.send-to {
    text-align: center;
    color: #60B3CD;
}

.modal-body p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}


/******FOOTER*******/

footer {
    clear: both;
}

footer p {
    font-family: 'Open Sans Condensed', sans-serif;
}

/******NEW ALBUM*******/

.preview-art {
    height: 298px;
    border: 5px solid white;
}

.new-album-btn {
    display: block;
    width: 280px;
    margin-bottom: 20px;
}

.preview-block {
    width: 300px;
    height: 400px;
}