<div class="row seller-info-wrap">
    <h3 class="username">{{user.userName}}</h3>
    <div ng-repeat="relatedAlbum in relatedAlbums | limitTo : 3" class="related-albums">
        <img ng-src="{{relatedAlbum.coverLocation}}" alt="{{relatedAlbum.title}}" class="related-cover"/>
    </div>
    <div class="related-albums">
        <h4>{{albumCount}} Albums</h4>
    </div>
</div>
<div class="details-content-wrap row">
    <div class="col-lg-7">
        <div class="pic-header">
            <h3>{{album.title}}</h3>
        </div>
        <img ng-src="{{album.coverLocation}}" alt="{{album.title}}" class="details-cover-art" />
    </div>
    <div class="col-lg-5">
        <div class="details">
            <h3>
                <span>{{album.title}} by {{album.artist}}</span>
            </h3>
            <div class="col-sm-6 woofie-wrap">
                <h4>Woofie: {{album.cost}}</h4>
            </div>
            <div class="col-sm-6 woofie-wrap">
                <a class="btn btn-danger" href="mailto::{{user.email}}">Email Sharer</a>
            </div>
            <h4 id="condition-header">Condition: {{album.condition}}</h4>
            <h4>Description:</h4>
            <p class="album-description">{{album.description}}</p>
            <button class="btn btn-success col-lg-12 grab" data-toggle="modal" data-target="#myModal">Grab Album</button>
        </div>
        <div class="sharer-details details">
            <div class="logo-wrap">
                <img src="http://www.blufftonicon.com/sites/default/files/images/articles/2015/14533-concerning-dog-scat-well-use-another-descriptive-word-story.png" alt="Woofie" class="logo" />
            </div>
            <h3>{{user.userName}}</h3>
            <span>{{user.city}}, {{user.state}}</span>
            <p>{{user.bio}}</p>
            <span>Rating: {{user.rating}}/5</span>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Grab "{{album.title}}" by {{album.artist}}</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{album.coverLocation}}" alt="{{album.title}}" class="modal-cover-art" />
                <p ng-hide="swapSuccess">Do you want to trade {{album.cost}} Woofie for {{album.title}} by {{album.artist}}?</p>
                <p ng-show="swapSuccess">Awesome! You've swapped {{album.title}} by {{album.artist}} for {{album.cost}} Woofie. {{user.userName}} will be notified.</p>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="swapSuccess">Close</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-hide="swapSuccess">Close</button>
                <button type="button" class="btn btn-primary" ng-click="swap()" ng-hide="swapSuccess">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
