<div class="row seller-info-wrap">
    <h2 class="username">{{user.userName}}</h2>
    <div class="related-wrapper">
        <div class="related-albums counter">
            <h4>{{albumCount}}
                <br /> Albums
            </h4>
        </div>
        <div ng-repeat="relatedAlbum in relatedAlbums | limitTo : 3" class="related-albums">
            <a href="/#/AlbumDetails/{{relatedAlbum.id}}">
                <img ng-src="{{relatedAlbum.coverLocation}}" alt="{{relatedAlbum.title}}" class="related-cover" />
            </a>
        </div>
    </div>
</div>
<div class="details-content-wrap row">
    <div class="col-lg-7">
        <div class="pic-header">
            <h3 class="detail-album-title">{{album.title}}</h3>
        </div>
        <img ng-src="{{album.coverLocation}}" alt="{{album.title}}" class="details-cover-art" />
    </div>
    <div class="col-lg-5">
        <div class="details">
            <h3 class="title detail-box-title">
                {{album.title}}
                <span class="title detail-box-title sold" ng-show="album.isSold">(Sold)</span>
            </h3>
            <h3 class="artist detail-box-artist">{{album.artist}}</h3>
            <div class="col-sm-6 woofie-wrap">
                <img src="../Images/BoneImg.png" alt="Woofie" class="bone-image"/>
                <h4 class="details-woofie price">{{album.cost}}</h4>
            </div>
            <div class="col-sm-6 woofie-wrap">
                <a class="btn btn-danger" href="mailto::{{user.email}}" ng-hide="album.isSold">Email Sharer</a>
            </div>
            <h5 id="condition-header" class="detail">Condition: </h5>
            <p>{{album.condition}}</p>
            <h5 class="detail description">Description:</h5>
            <p class="album-description">{{album.description}}</p>
            <button class="btn btn-success col-lg-12 grab" data-toggle="modal" data-target="#myModal" ng-disabled="album.isSold">Grab Album</button>
        </div>
        <div class="sharer-details details">
            <div class="logo-wrap">
                <img src="http://www.blufftonicon.com/sites/default/files/images/articles/2015/14533-concerning-dog-scat-well-use-another-descriptive-word-story.png" alt="Woofie" class="logo" />
            </div>
            <h3 class="sharer-username">{{user.userName}}</h3>
            <p>{{user.city}}, {{user.state}}</p>
            <p>Rating: {{user.rating}}/5</p>
            <p>{{user.bio}}</p>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Grab "{{album.title}}" by {{album.artist}}</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{album.coverLocation}}" alt="{{album.title}}" class="modal-cover-art" />
                <p ng-hide="swapSuccess">Do you want to trade {{album.cost}} Woofie for {{album.title}} by {{album.artist}}?</p>
                <p ng-show="swapSuccess">Awesome! You've swapped {{album.title}} by {{album.artist}} for {{album.cost}} Woofie. {{user.userName}} will be notified.</p>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="swapSuccess">Close</button>
                <div class="alert alert-danger" role="alert" ng-show="notEnoughWoofie">
                    You only get what you give. You don't have enough Woofie. 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-hide="swapSuccess">Close</button>
                <button type="button" class="btn btn-primary" ng-click="swap()" ng-hide="swapSuccess">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
