<h3 class="page-head">Shop Vinyl Woof</h3>
<div class="search-wrap">
    <div class="query-container col-md-6">
        <a class="btn btn-primary search-button">Search</a>
        <input name="searchParams" placeholder="Seach by album" class="form-control searchbar" />
    </div>
    <div class="col-md-6">
        <select name="genre" class="form-control search-genre">
            <option value="altRock">Alternative Rock</option>
            <option value="blues">Blues</option>
            <option value="vocal">Broadway &#38 Vocal</option>
            <option value="childrens">Children's Music</option>
            <option value="christian">Christian Music</option>
            <option value="classicRock">Classic Rock</option>
            <option value="comedy">Comedy &#38 Spoken Work</option>
            <option value="country">Country</option>
            <option value="dance">Dance &#38 EDM</option>
            <option value="folk">Folk</option>
            <option value="gospel">Gospel</option>
            <option value="holiday">Holiday</option>
            <option value="jazz">Jazz</option>
            <option value="latin">Latin</option>
            <option value="metal">Metal</option>
            <option value="newAge">New Age</option>
            <option value="Pop">Pop</option>
            <option value="rb">R&#38B</option>
            <option value="rap">Rap &#38 Hip-Hop</option>
            <option value="reggae">Reggae</option>
            <option value="rock">Rock</option>
            <option value="world">World</option>
        </select>
    </div>
</div>
<div class="row">
    <div ng-repeat="album in data.albums" class="col-md-4 item-block">
        <a>
            <img ng-src="{{album.coverLocation}}" alt="Album Cover" class="album-art" />
        </a>
        <a href="/#/AlbumDetails/{{album.id}}">
            <h4>Title: {{album.title}}</h4>
        </a>
        <h4>Artist: {{album.artist}}</h4>
        <h4>Woofie: {{album.cost}}</h4>
    </div>
</div>