<div class="row"> 
    <div class="col-md-4">
        <select name="genre" class="form-control search-genre" ng-model="searchParams.genre">
            <option value="">Select Genre</option>
            <option value="Alternative Rock">Alternative Rock</option>
            <option value="Blues">Blues</option>
            <option value="Vocal">Broadway &#38 Vocal</option>
            <option value="Childrens">Children's Music</option>
            <option value="Christian">Christian Music</option>
            <option value="Classic Rock">Classic Rock</option>
            <option value="Comedy">Comedy</option>
            <option value="Country">Country</option>
            <option value="Dance">Dance &#38 EDM</option>
            <option value="Folk">Folk</option>
            <option value="Gospel">Gospel</option>
            <option value="Holiday">Holiday</option>
            <option value="Jazz">Jazz</option>
            <option value="Latin">Latin</option>
            <option value="Metal">Metal</option>
            <option value="New Age">New Age</option>
            <option value="Pop">Pop</option>
            <option value="R&B">R&#38B</option>
            <option value="Hip-Hop">Rap &#38 Hip-Hop</option>
            <option value="Reggae">Reggae</option>
            <option value="Rock">Rock</option>
            <option value="World">World</option>
        </select>
    </div>
    <div class="col-md-6">
        <input name="searchParams" placeholder="Seach for Title" class="form-control searchbar" ng-model="searchParams.title" />
        <a class="btn btn-primary search-button" ng-click="searchAlbums()">Search</a>
    </div>
</div>
<div class="row">
    <div ng-repeat="album in data" class="col-md-4 item-block">
        <a>
            <img ng-src="{{album.coverLocation}}" alt="Album Cover" class="album-art" />
        </a>
        <a href="/#/AlbumDetails/{{album.id}}">
            <h4>Title: {{album.title}}</h4>
        </a>
        <h4>Artist: {{album.artist}}</h4>
        <h4>Woofie: {{album.cost}}</h4>
    </div>
</div>